In [1]:
import pandas as pd

In [2]:
sample = pd.read_csv("^TNX.csv")

In [3]:
sample.head()

         DATE DGS10
0  2014-06-20  2.63
1  2014-06-23  2.63
2  2014-06-24  2.59
3  2014-06-25  2.57
4  2014-06-26  2.53

In [4]:
sample.tail()

            DATE DGS10
1299  2019-06-13  2.10
1300  2019-06-14  2.09
1301  2019-06-17  2.09
1302  2019-06-18  2.06
1303  2019-06-19  2.03

AttributeError: module 'pandas' has no attribute 'read_xls'